.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.main {
  padding: 120px;
  width: 100%;
  overflow: auto;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.add {
  width: 252.445px;
  height: 58.535px;
  border-radius: 50px;
  background: #9c69e2;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
}
.top input {
  width: 368px;
  height: 49px;
  border-radius: 6px;
  border: 1px solid #000;
  background: #fdfdfd;
  padding-left: 20px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 40px;
}
.top input::placeholder {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top select {
  width: 368px;
  height: 49px;
  border-radius: 6px;
  border: 1px solid #000;
  background: #fdfdfd;
  padding-left: 20px;
}
.heading {
  background: #d9d9d9;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr;
  width: 100%;
  height: 49.084px;
  align-items: center;
  margin-bottom: 10px;
}
.heading p {
  text-align: center;
  border-right: 1px solid black;
}
.heading p:last-child {
  border: none;
}
.body {
  border: 1px solid black;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}
.pagination button {
  width: 100px;
  height: 40px;
  font-family: inherit;
}
